[Unit]
Description=timelapse service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u timelapse.py
WorkingDirectory=/home/oudeis/pi-timelapse
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=oudeis

[Install]
WantedBy=multi-user.target
